In [28]:
import glob
import numpy as np
import os
import pandas as pd
from sklearn.model_selection import train_test_split
import vaex

## Merge separate .csv files into input & output

# Input

In [31]:
path = '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/'
filename = 'x*.csv'
csv_file_list =  glob.glob(os.path.join(path, filename))
csv_file_list.sort()
csv_file_list

['/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/x_2015.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/x_2016.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/x_2017.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/x_2018.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/x_2019.csv']

In [32]:
chunksize = 1000000
input_file = './input.csv'

for csv_file_name in csv_file_list:
    chunk_container = pd.read_csv(csv_file_name, chunksize=chunksize)
    for chunk in chunk_container:
        chunk.to_csv(input_file, mode="a", index=False)

# Output

In [35]:
path = '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/'
filename = 'y*.csv'
csv_file_list =  glob.glob(os.path.join(path, filename))
csv_file_list.sort()
csv_file_list

['/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/y_2015.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/y_2016.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/y_2017.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/y_2018.csv',
 '/home/jovyan//Arctic/Vegetation_in_Troms_and_Finnmark/data/y_2019.csv']

In [36]:
chunksize = 1000000
input_file = './output.csv'

for csv_file_name in csv_file_list:
    chunk_container = pd.read_csv(csv_file_name, chunksize=chunksize)
    for chunk in chunk_container:
        chunk.to_csv(input_file, mode="a", index=False)

## Read input & output files as pandas

In [48]:
# Reading input.csv file
input = pd.read_csv(f'./input.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [4]:
print('Input')
print(f'Number of rows: {input.shape[0]:,}')
print(f'Number of columns: {input.shape[1]}')

Number of rows: 139,765
Number of columns: 4376

In [5]:
input = input.drop(columns = ['lon', 'lat'])

In [7]:
input.head()

  #    Bare    Grass    Lichen    Shrub    Tree    2016-01-01 00:00:00    2016-01-01 01:00:00
  0    0.2      0.48      0.24     0.08    0                   0.213                 0.191661
  1    0.23     0.58      0.19     0       0                   0.213                 0.191661
  2    0.07     0.58      0.25     0.1     0                   0.213                 0.191661
  3    0.35     0.34      0.31     0       0                   0.33968               0.311515
  4    0        0.31      0.01     0.21    0.47                0.33968               0.311515
  5    0.15     0.54      0.31     0       0                   0.213                 0.191661
  6    0.07     0.58      0.25     0.1     0                   0.213                 0.191661
  7    0.35     0.34      0.31     0       0                   0.33968               0.311515
  8    0.15     0.54      0.31     0       0                   0.213                 0.191661
  9    0.07     0.58      0.25     0.1     0                   0.213                 0.191661

In [38]:
# Reading output.csv file
output = pd.read_csv(f'./output.csv')

/tmp/ipykernel_10395/4046708306.py:2: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  output = pd.read_csv(f'./output.csv')

In [46]:
output.rename(columns = {'Bare': 'New_bare', 'Grass': 'New_grass', 
                         'Lichen': 'New_lichen','Shrub': 'New_shrub', 
                         'Tree': 'New_tree'}, inplace = True)

In [47]:
output.head()

   New_bare New_grass New_lichen New_shrub New_tree
0       0.0       0.0        0.0       0.0      0.0
1       0.0       0.0        0.0       0.0      0.0
2       0.0       0.0        0.0       0.0      0.0
3       0.0       0.0        0.0       0.0      0.0
4       0.0      0.34       0.01      0.22     0.43

In [49]:
print('Output')
print(f'Number of rows: {output.shape[0]:,}')
print(f'Number of columns: {output.shape[1]}')

Number of rows: 1,091,430
Number of columns: 5

# Split input & output data into training and test sets

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(input, output, test_size = 0.2, random_state = 0, shuffle = True)

In [22]:
X_train

,Bare,Grass,Lichen,Shrub,Tree,2016-01-01 00:00:00,2016-01-01 01:00:00
30085,0.00,0.64,0.19,0.17,0.00,0.042980,0.034923
106949,0.43,0.37,0.20,0.00,0.00,0.471380,0.467473
37357,0.44,0.13,0.29,0.14,0.00,0.027685,0.003961
89519,0.30,0.60,0.08,0.02,0.00,0.253295,0.251610
93711,0.48,0.31,0.21,0.00,0.00,0.122254,0.125339
...,...,...,...,...,...,...,...
41993,0.25,0.21,0.45,0.09,0.00,0.075752,0.053713
97639,0.00,0.61,0.14,0.25,0.00,0.246140,0.248978
95939,0.00,0.71,0.01,0.23,0.05,0.214358,0.213987
117952,0.00,0.61,0.25,0.12,0.02,0.394367,0.382278
43567,0.31,0.40,0.29,0.00,0.00,0.597363,0.582723

In [15]:
X_test

In [16]:
Y_train

In [17]:
Y_test