# Merge yearly .hdf files into input & output .csv files

### This notebook uses TensorFlow NGC Container Release 23.03-tf2-py3
### (https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tensorflow)
### and runs on a machine with 4x ARM CPUs (Neoverse N1) and 24GB RAM

In [1]:
print('Imports')
import glob
import os
import pandas as pd

Imports

In [2]:
# Input to .csv
print('Input files')
path = '/home/jeani/data/'
x_filename = 'x_mean_tp1_2*.hdf'
file_list = glob.glob(os.path.join(path, x_filename))
file_list.sort()
file_list

input_filename = os.path.join(path, 'input_mean_tp1.csv')

for file_name in file_list:
    print(file_name)
    df = pd.read_hdf(file_name)
    print(df)
    df = df.drop(columns=['lon_lat'])
    if (file_name == file_list[0]):
         df.to_csv(input_filename, header=True, index=None, sep=',')
    else:
        # Append to file
         df.to_csv(input_filename, mode='a', header=None, index=None, sep=',')

Input files
/home/jeani/data/x_mean_tp1_2015.hdf
        lon_lat    Lichen    N     t2m_0     t2m_1     t2m_2     t2m_3  \
0    1559.06844  0.211879  447  0.996191  0.994671  0.995452  0.996635
1    1559.06855  0.211091  440  0.989355  0.988203  0.990508  0.992543
2    1559.06865  0.146966  267  0.986124  0.986423  0.989102  0.991085
3    1559.06894  0.066429   84  1.004145  1.005221  1.006582  1.006018
4    1589.06844  0.135455   77  0.992889  0.989019  0.990273  0.992911
..          ...       ...  ...       ...       ...       ...       ...
734  3079.06944  0.190000   62  0.989532  0.989124  0.988256  0.987347
735  3079.06955  0.165333   45  0.991210  0.990799  0.990056  0.989213
736  3079.06965  0.248843  268  0.993679  0.993266  0.992661  0.991882
737  3079.06975  0.276389   36  0.996222  0.995807  0.995357  0.994664
738  3079.07025  0.135278   36  0.999211  0.998496  0.997959  0.997513

        t2m_4     t2m_5     t2m_6  ...    tp_8750    tp_8751    tp_8752  \
0    0.998929  1.000566  1.001505  ...  10.005406  10.254145  10.396692
1    0.995687  0.997859  0.999191  ...   9.926263  10.141747  10.222220
2    0.994673  0.997041  0.998751  ...   9.926263  10.130219  10.189189
3    1.005386  1.005188  1.005679  ...   8.793637   8.862141   8.899606
4    0.996197  0.998616  1.000043  ...   9.740263  10.078786  10.229980
..        ...       ...       ...  ...        ...        ...        ...
734  0.986037  0.985596  0.983969  ...   1.255442   2.074594   2.639687
735  0.987997  0.987482  0.985902  ...   1.097597   1.872854   2.419325
736  0.990746  0.990151  0.988636  ...   0.958596   1.699048   2.255273
737  0.993628  0.992920  0.991478  ...   0.839104   1.552953   2.131791
738  0.997156  0.996677  0.995729  ...   0.497920   0.970789   1.577117

       tp_8753    tp_8754    tp_8755    tp_8756    tp_8757    tp_8758  \
0    10.574267  10.729009  10.885302  11.148229  11.369034  11.526213
1    10.329963  10.445686  10.567839  10.807487  10.978191  11.081942
2    10.251927  10.335948  10.472290  10.726792  10.901264  10.994152
3     8.977199   9.030182   9.149010   9.216183   9.261408   9.292666
4    10.329298  10.505321  10.631908  10.913235  11.092362  11.228038
..         ...        ...        ...        ...        ...        ...
734   2.899732   2.986192   3.134947   3.333583   3.571680   3.744601
735   2.678262   2.775806   2.953382   3.158669   3.408958   3.597619
736   2.518865   2.632371   2.834776   3.047157   3.301660   3.501183
737   2.403363   2.532610   2.755189   2.973112   3.226506   3.433345
738   2.047548   2.295399   2.579609   2.937198   3.275944   3.565473

       tp_8759
0    11.649918
1    11.157539
2    11.046915
3     9.308185
4    11.349302
..         ...
734   3.875177
735   3.752138
736   3.678979
737   3.631981
738   3.878281

[739 rows x 17523 columns]
/home/jeani/data/x_mean_tp1_2016.hdf
        lon_lat    Lichen    N     t2m_0     t2m_1     t2m_2     t2m_3  \
0    1559.06844  0.136917  652  0.983563  0.982991  0.981937  0.981420
1    1559.06855  0.159610  616  0.980007  0.979585  0.978258  0.977706
2    1559.06865  0.113471  291  0.982274  0.982574  0.980932  0.980311
3    1559.06875  0.054727  366  0.987828  0.988645  0.987415  0.987211
4    1559.06894  0.045974  154  0.997351  0.997586  0.996808  0.997207
..          ...       ...  ...       ...       ...       ...       ...
889  3079.06944  0.206731  104  0.983464  0.981229  0.979112  0.978378
890  3079.06955  0.106735   98  0.987287  0.985671  0.983941  0.982858
891  3079.06965  0.232222  207  0.990442  0.989006  0.987686  0.986856
892  3079.06975  0.221667   72  0.994587  0.993377  0.992368  0.991636
893  3079.07025  0.236456   79  0.996370  0.995556  0.995155  0.994225

        t2m_4     t2m_5     t2m_6  ...   tp_8750   tp_8751   tp_8752  \
0    0.980892  0.980954  0.982387  ...  1.876844  1.877731  1.878397
1    0.977486  0.978043  0.980091  ...  2.165709  2.167261  2.167705
2    0.979676  0.979026  0.980313  ...  2.390284  2.392279  2.393166
3    0.986230  0.983949  0.982219  ...  2.481843  2.484946  2.486277
4    0.996998  0.996535  0.996406  ...  2.426641  2.429745  2.431518
..        ...       ...       ...  ...       ...       ...       ...
889  0.977200  0.977080  0.976057  ...  0.092889  0.093554  0.094441
890  0.980453  0.979689  0.978515  ...  0.086238  0.086681  0.087790
891  0.985500  0.985154  0.984293  ...  0.151415  0.151859  0.152524
892  0.990923  0.990763  0.990251  ...  0.242087  0.242531  0.242974
893  0.993548  0.992696  0.992037  ...  0.358697  0.358919  0.359806

      tp_8753   tp_8754   tp_8755   tp_8756   tp_8757   tp_8758   tp_8759
0    1.878397  1.878397  1.878397  1.878397  1.878397  1.878618  1.878618
1    2.167705  2.167705  2.167705  2.167705  2.167705  2.167705  2.168148
2    2.393166  2.393166  2.393166  2.393166  2.393166  2.393166  2.393166
3    2.486720  2.486720  2.486720  2.486720  2.486720  2.486720  2.486720
4    2.432184  2.432184  2.432848  2.433292  2.433514  2.433514  2.433514
..        ...       ...       ...       ...       ...       ...       ...
889  0.094662  0.095106  0.095327  0.095771  0.096657  0.097766  0.098875
890  0.088012  0.088233  0.088455  0.088898  0.089563  0.090672  0.091337
891  0.152524  0.152967  0.153411  0.154076  0.154962  0.156071  0.157401
892  0.243196  0.243639  0.244083  0.244748  0.246299  0.248073  0.250290
893  0.360028  0.360693  0.360914  0.361358  0.362245  0.363131  0.364018

[894 rows x 17523 columns]
/home/jeani/data/x_mean_tp1_2017.hdf
        lon_lat    Lichen    N     t2m_0     t2m_1     t2m_2     t2m_3  \
0    1559.06844  0.140494  587  0.969081  0.966106  0.962946  0.959979
1    1559.06855  0.138531  429  0.962706  0.959422  0.955817  0.953054
2    1559.06865  0.089237  249  0.957991  0.954798  0.951528  0.949553
3    1559.06894  0.053043  161  0.979028  0.976667  0.974220  0.972025
4    1589.06844  0.127111   90  0.964051  0.960738  0.957463  0.954022
..          ...       ...  ...       ...       ...       ...       ...
911  3079.06905  0.020000    6  0.988540  0.989028  0.988807  0.987422
912  3079.06915  0.108846  130  0.988074  0.988627  0.988673  0.987477
913  3079.06925  0.059697   33  0.987347  0.988041  0.988365  0.987364
914  3079.06965  0.050909   22  0.988425  0.989809  0.991254  0.991458
915  3079.06975  0.020000    8  0.990615  0.992044  0.993624  0.994169

        t2m_4     t2m_5     t2m_6  ...   tp_8750   tp_8751   tp_8752  \
0    0.956476  0.953150  0.951568  ...  1.769324  2.063066  2.454353
1    0.949779  0.945934  0.944175  ...  1.482233  1.729641  2.041784
2    0.947028  0.943118  0.941130  ...  1.167874  1.375156  1.621234
3    0.970554  0.968209  0.966809  ...  0.559551  0.653548  0.775257
4    0.950225  0.946675  0.944971  ...  1.553839  1.816988  2.161497
..        ...       ...       ...  ...       ...       ...       ...
911  0.986730  0.985995  0.985054  ...  0.049437  0.050102  0.054536
912  0.986943  0.986317  0.985429  ...  0.034584  0.035027  0.037687
913  0.987005  0.986486  0.985656  ...  0.021725  0.022169  0.023499
914  0.991758  0.991505  0.990957  ...  0.020174  0.021282  0.022169
915  0.994569  0.994347  0.993839  ...  0.032145  0.032810  0.033697

      tp_8753   tp_8754   tp_8755   tp_8756   tp_8757   tp_8758   tp_8759
0    2.917911  3.496749  4.291958  5.288686  6.532378  7.882261  8.900049
1    2.395382  2.844752  3.490098  4.315236  5.366056  6.517081  7.435995
2    1.888373  2.226675  2.712181  3.349102  4.178452  5.066994  5.832940
3    0.900291  1.034636  1.157676  1.325940  1.549849  1.786172  2.018728
4    2.558105  3.099920  3.862097  4.833108  6.085225  7.501616  8.600765
..        ...       ...       ...       ...       ...       ...       ...
911  0.080252  0.141439  0.268690  0.497477  0.796096  1.075650  1.291134
912  0.057861  0.114171  0.224795  0.435181  0.728923  1.007590  1.222409
913  0.038352  0.088898  0.184669  0.377098  0.665297  0.945295  1.161666
914  0.025273  0.043451  0.113728  0.254059  0.519867  0.839991  1.119323
915  0.036136  0.049659  0.112619  0.245634  0.495703  0.816270  1.111120

[916 rows x 17523 columns]
/home/jeani/data/x_mean_tp1_2018.hdf
        lon_lat    Lichen    N     t2m_0     t2m_1     t2m_2     t2m_3  \
0    1559.06844  0.153564  578  0.989652  0.989270  0.989377  0.989430
1    1559.06865  0.095288  208  0.985749  0.985784  0.986901  0.987655
2    1559.06875  0.084855  346  0.987637  0.987952  0.989148  0.989994
3    1559.06894  0.063333  144  0.994551  0.995132  0.995685  0.996182
4    1589.06844  0.118353   85  0.988154  0.987954  0.988068  0.988152
..          ...       ...  ...       ...       ...       ...       ...
849  3079.06915  0.123333  126  0.969460  0.969516  0.969563  0.968850
850  3079.06925  0.053636   22  0.969097  0.969207  0.969234  0.968549
851  3079.06955  0.147558   86  0.969749  0.969867  0.970106  0.970091
852  3079.06965  0.109545   22  0.972236  0.972294  0.972780  0.973135
853  3079.06975  0.020000    8  0.976024  0.976133  0.976898  0.977615

        t2m_4     t2m_5     t2m_6  ...   tp_8750   tp_8751   tp_8752  \
0    0.989508  0.989654  0.989752  ...  0.943299  0.971011  0.992515
1    0.987926  0.987841  0.987721  ...  1.351434  1.379589  1.402424
2    0.990337  0.990300  0.990173  ...  1.543863  1.574457  1.603942
3    0.996528  0.996792  0.996799  ...  1.317294  1.350548  1.397325
4    0.988001  0.987970  0.988052  ...  0.662416  0.690570  0.712296
..        ...       ...       ...  ...       ...       ...       ...
849  0.967295  0.963956  0.961524  ...  0.138114  0.140552  0.141883
850  0.966849  0.963374  0.960665  ...  0.145651  0.147647  0.148977
851  0.969440  0.968624  0.968444  ...  0.277115  0.281327  0.286648
852  0.973275  0.973623  0.974466  ...  0.328547  0.340075  0.352933
853  0.978573  0.979918  0.981597  ...  0.375768  0.397050  0.417224

      tp_8753   tp_8754   tp_8755   tp_8756   tp_8757   tp_8758   tp_8759
0    1.021557  1.045721  1.067225  1.083409  1.093385  1.124422  1.199132
1    1.423485  1.442993  1.466271  1.481124  1.491544  1.513048  1.561599
2    1.625889  1.647837  1.672001  1.688628  1.700156  1.719222  1.764003
3    1.418164  1.437673  1.454965  1.469596  1.481568  1.500190  1.541425
4    0.732914  0.754861  0.773483  0.783903  0.791884  0.819152  0.891423
..        ...       ...       ...       ...       ...       ...       ...
849  0.145651  0.155849  0.181565  0.188660  0.196641  0.198636  0.199079
850  0.154297  0.168929  0.199966  0.209499  0.219918  0.223244  0.223465
851  0.313916  0.358032  0.404810  0.435625  0.455355  0.461562  0.462893
852  0.429639  0.506345  0.599677  0.661085  0.686580  0.693896  0.695669
853  0.554230  0.669953  0.820038  0.916696  0.947733  0.956601  0.958153

[854 rows x 17523 columns]

In [3]:
# Output to .csv
print('Output files')
y_filename = 'y_mean_tp1_2*.hdf'
file_list = glob.glob(os.path.join(path, y_filename))
file_list.sort()
file_list

output_filename = os.path.join(path, 'output_mean_tp1.csv')

for file_name in file_list:
    print(file_name)
    dg = pd.read_hdf(file_name)
    print(dg)
    dg = dg.reset_index()
    dg = dg.drop(columns=['lon_lat'])
    if (file_name == file_list[0]):
         dg.to_csv(output_filename, header=True, index=None, sep=',')
    else:
        # Append to file
         dg.to_csv(output_filename, mode='a',  header=None, index=None, sep=',')

Output files
/home/jeani/data/y_mean_tp1_2015.hdf
        lon_lat  new_Lichen  new_N
0    1559.06844    0.136917  652.0
1    1559.06855    0.159610  616.0
2    1559.06865    0.113471  291.0
3    1559.06894    0.045974  154.0
4    1589.06844    0.117667  120.0
..          ...         ...    ...
734  3079.06944    0.206731  104.0
735  3079.06955    0.106735   98.0
736  3079.06965    0.232222  207.0
737  3079.06975    0.221667   72.0
738  3079.07025    0.236456   79.0

[739 rows x 3 columns]
/home/jeani/data/y_mean_tp1_2016.hdf
        lon_lat  new_Lichen  new_N
0    1559.06844    0.140494  587.0
1    1559.06855    0.138531  429.0
2    1559.06865    0.089237  249.0
3    1559.06875    0.076878  426.0
4    1559.06894    0.053043  161.0
..          ...         ...    ...
889  3079.06944    0.205729   96.0
890  3079.06955    0.181293  147.0
891  3079.06965    0.050909   22.0
892  3079.06975    0.020000    8.0
893  3079.07025    0.170240  125.0

[894 rows x 3 columns]
/home/jeani/data/y_mean_tp1_2017.hdf
        lon_lat  new_Lichen  new_N
0    1559.06844    0.153564  578.0
1    1559.06855    0.147232  401.0
2    1559.06865    0.095288  208.0
3    1559.06894    0.063333  144.0
4    1589.06844    0.118353   85.0
..          ...         ...    ...
911  3079.06905    0.035000    6.0
912  3079.06915    0.123333  126.0
913  3079.06925    0.053636   22.0
914  3079.06965    0.109545   22.0
915  3079.06975    0.020000    8.0

[916 rows x 3 columns]
/home/jeani/data/y_mean_tp1_2018.hdf
        lon_lat  new_Lichen  new_N
0    1559.06844    0.120090  446.0
1    1559.06865    0.107675  228.0
2    1559.06875    0.127292  469.0
3    1559.06894    0.083554  166.0
4    1589.06844    0.083333   57.0
..          ...         ...    ...
849  3079.06915    0.093649   74.0
850  3079.06925    0.041667   18.0
851  3079.06955    0.161625   80.0
852  3079.06965    0.209216   51.0
853  3079.06975    0.030000    8.0

[854 rows x 3 columns]

In [4]:
print('Finished!')

Finished!